<h1><%= @album.title %></h1>

<table>
  <tr>
    <th>Album Title</th>
    <td><%= @album.title %></td>
  </tr>
  <tr>
    <th>Artist</th>
    <td><%= @album.band_name %></td>
  </tr>
  <tr>
    <th>Year</th>
    <td><%= @album.year %></td>
  </tr>
  <tr>
    <th>Type</th>
    <td><%= @album.album_type %></td>
  </tr>
</table>