<!DOCTYPE html>
<html>
  <head>
    <title>CatRental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if current_user %>
        <h4><%= current_user.username %></h4>
      <% end %>
      <% action = current_user ? session_url : new_session_url %>
      <% method = current_user ? 'post' : 'get' %>
      <% btn_value = current_user ? 'Logout' : 'Login' %>
      <form action="<%= action %>" method="<%= method %>">
        <% if current_user %>
          <input type="hidden" name="_method" value="delete">
        <% end %>
        <input type="submit" value="<%= btn_value %>">
      </form>
    </header>
    <%= yield %>
  </body>
</html>
