<h1><%= @sub.title %></h1>
<p><%= @sub.description %></p>

<form action="<%= sub_url(@sub) %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <% if current_user == @sub.moderator %>
    <input type="submit" value="Delete this sub">
  <% end %>
</form>

<h2>Posts:</h2>
<% @posts.each do |post| %>
  <h3><a href="<%= post.url %>"><%= post.title %></a></h3>
  <p><%= post.content %></p>
  <a href="<%= post_url(post) %>">Comments</a>
  <hr>
<% end %>